<div class="productHero">   
    <img class="productHero_banner" src="images/hbo_banner.svg" alt="banner">
    <div>
        <img class="productHero_logo" src="images/hbo_logo.svg" alt="logo">
        <div>
            <h3>50% OFF en HBO Max</h3>
            <p style="display: flex;">Canjeando 50.000 puntos MiEcommerce.</p>
        </div>
    </div>

</div>