.container_main{
    padding-top: 80px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

    .top_container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
    }

    .bottom_container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 22px;
        width: 70%;
        padding-bottom: 140px;
        font-size: 24px;
        line-height: 33px;
        margin-top: 26px;
        margin-right: 16px;
    }

.volver{
    font-size: 16px;
    margin-right: 20px;
}

.prod_carrito{
    font-size: 24px;  
}

p img{
    width: 15.84px;
    height: 15.84px;
    margin-right: 7.16px;
}

span b{
    padding-left: 20px;
    margin-right: 5px;
}

.btn_pagar{
    padding: 8px 20px;
    width: 110px;
    height: 32px;
    background: var(--grisOscuro);
    border-radius: 16px;
    color: rgb(94%, 94%, 94%);
    gap: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    border-style: inherit;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn_pagar:hover{
    background: var(--Primary);
    transition: all 300ms ease;
    font-size: 13px;
}

.cartitems_container{
    width: 70%;
}
.product-list{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;    
    gap: 20px;
}

.cart_item{
    width: 100%;
    height: 80px;
    padding-left: 8px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body.dark .cart_item{
    background: var(--grisOscuro);
}
    .cart_item:hover{
        outline: 2px solid #0CB093;
    }

    .cart_desc{
        min-width: 280px;
        display: flex;
        align-items: center;
        gap: 8px;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;

        display: flex;
        align-items: center;
    }

        .cart_desc img{
            width: 64px;
            height: 64px;
        }

    .cart_opt{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .cart_opt a{
            width: 78px;
            height: 32px;

            background-color: #494F51;
            border-radius: 16px;

            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: white;
            
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body.dark .cart_opt a{
            background-color: var(--categories);
            border: 1px solid var(--blanco);
            color: var(--blanco);
        }
            
            .cart_opt a:hover{
                background-color: #0CB093;
                font-size: 13px;
            }

        .agregar-quitar{
            margin-left: 16px;
            margin-right: 26px;
            width: 80px;
            height: 32px;

            background-color: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.5);
            border-radius: 16px;

            display: flex;
            align-items: center;
            justify-content: space-around;

            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            color: #000000;
        }

        body.dark .agregar-quitar{
            background-color: var(--categories);
            border: 1px solid var(--blanco);
            color: var(--blanco);
        }

            .agregar-quitar p{
                width: 20px;
                height: 20px;
                cursor: pointer;
                border-radius: 50px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
                .agregar-quitar p:hover{
                    color: #0CB093;
                    font-size: 14px;
                }

        .cart_opt > p{
            width: 78px;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            text-align: right;
            color: #000000;
        }

        body.dark .cart_opt > p{
            color: var(--blanco);
        }

/* CARLA */
.modal_container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;   
}

.modal_error{
    position: relative;
    display: flex;
    height: 135px;
    width: 400px;
    flex-direction: column;
    background: var(--blanco);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 15px;
}


.text_e{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
}

.att_msg_e{
    display: flex;
    align-items: center;
}

.incorrect_e{
    font-weight: bold;
}

.button_e{
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.aceptar{
    width: 120px;
    height: 32px;
    background: var(--Primary);
    border-radius: 16px;
    color: rgb(94%, 94%, 94%);
    gap: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    border-style: inherit;
    transition: all 300ms ease;   
}

.aceptar:hover{
    background: var(--grisOscuro);
    transition: all 300ms ease;
    cursor: pointer;
    font-size: 13px;
}


/* CARLA */
        
@media (max-width: 414px){

    .container_main{
        padding-left: 16px;
        padding-right: 16px;
    }

    .top_container{
        width: 100%;
    }

    .bottom_container{
        width: 100%;
    }

    .cartitems_container{
        width: 100%;
    }

    .cart_item{
        width: 100%;
        height: auto;
        padding-left: 8px;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 8px;

        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .cart_desc{
        width: 100%;
    }

    .cart_opt{
        align-self: flex-end;
        width: 75%;
    }
    
}

body.dark .container_main{
color: var(--blanco)
}
