header{
    width: 100%;
    background-color: #EFEFEF;
}

body.dark header{
    background-color: var(--negro);
}

.logo_login{
    width: 136px;
    height: 32px;
    margin-left: 0;
    padding: 5px;
}

.login_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.vertical_container{
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    position: relative;
    align-self: center;
    bottom: 152px;
}

.green_container{
    position: relative;
    background: var(--Primary);
    top: 64px;
    height: 264px;
    width: 100%;
    
}

.form_container{
    display: flex;
    position: relative;
    flex-direction: column;
    background: var(--blanco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    width: 320px;
    height: auto;
}

body.dark .form_container{
    background: var(--grisOscuro);
    color: var(--blanco);
}


h2{
    display: inline;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 15px;
    height: 48px;
    width: 264px;
    top: calc(50% - 16px/2);
    transition: all 300ms ease;
}

h2:hover{
    transition: all 300ms ease;
    font-size: 40px;
    cursor: default;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 48px 32px 48px 32px;
    gap: 10px;
}


form>p{
    border: solid rgba(0, 0, 0, 0.50) 1px;
    border-radius: 16px;
    width: 256px;
    height: 32px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
    padding-left: 12px;
    padding-top: 4px;
}

body.dark form>p{
    border: solid var(--grisClaro) 1px;
    background: var(--grisClaro);
}

body.dark form>input{

    color: var(--grisClaro);
    
}

p>input{
    border-style: inherit;
    border: 0;
    outline: 1px;
    margin-top: 2px;
    width: 90%;
}

.login_button{
    width: 256px;
    height: 32px;
    background: var(--grisOscuro);
    border-radius: 16px;
    color: rgb(94%, 94%, 94%);
    gap: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    border-style: inherit;
    transition: all 300ms ease;
}

body.dark .login_button{
    background: var(--negro);
    color: var(--blanco);
}


.login_button a{
    color:rgb(94%, 94%, 94%);
    text-decoration: none;
}

.login_button:hover{
    background: var(--Primary);
    transition: all 300ms ease;
    cursor: pointer;
    font-size: 13px;
}

.login_button:disabled{
    background: var(--grisClaro);
    color: #FFFF;
}

.form div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

body.dark .login_button:disabled{
    background: var(--negro);
    color: #FFFF;
}

.register_link{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    flex-wrap:wrap;
    line-height: 16px;
    font-size: 12px;
}

body.dark .register_link{
    color: #FFFF;
}

.registrate{
    color:rgb(0, 0, 0);
}

body.dark .registrate{
    color: var(--blanco);
}

.registrate:hover{
    transition: all 300ms ease;
    cursor: pointer;
    font-size: 13px;
}
.invalid{
    position: relative;
    top: -15px;
    color: grey;
    margin-bottom: -20px;
    margin-left: 5px;
    font-size: 11px;
}

body.dark .invalid{

    color: var(--blanco);
    }

    .regnamev{
        display: flex;
    }
    .reglnamev{
        display: flex;
    }
    .regemailv{
        display: flex;
    }
    .regpass1v{
        display: flex;
    }
    .regPass2{
        display: flex;
    }

@media (max-width: 414px){
    .form_footer{
        padding-bottom: inherit;
        padding-top: 15px;
        margin-top: 30px;
        gap: 10px;
    }

    .register_footer{
        margin-bottom: inherit;
        margin-top: inherit;
        padding-bottom: inherit;
    }
}   