.header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.25);
    display: flex;
    height: 64px;
    justify-content: space-between;
    padding: 16px;
    z-index: 20;
    border-bottom: 1px solid var(--grisClaro);
    margin: auto auto;
}

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo2{
        display: none;
        justify-content: center;
        align-items: center;
    }

    .search{
        width: 896px;
        min-width: 100px;
        margin: 0 20px;
        height: 32px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        border-radius: 16px;
        display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 16px
        }

        body.dark .search{
            background: var(--grisOscuro);
            border: 1px solid var(--grisClaro);

        }
        
        .search input{
            width: 840px;
            border: none;
            outline: none;
        }

        body.dark input{
            background-color: var(--grisClaro);
            color: var(--blanco);
        }

        body.dark .search input{
            background-color: var(--grisOscuro);
            color: var(--blanco);
        }
        
        .search button{
            width: 16px;
            height: 16px;
            background: rgba(255, 255, 255, 0.25);
            border: none;
        }

        body.dark .search button{
            background: var(--grisOscuro);
        }
    
    .user{
        display: flex;
        width: 130px;
        justify-content: space-evenly;
    }
    
    .profile{
        width: 78px;
        height: 32px;
        color: white;
        background: var(--grisOscuro);
        border-radius: 16px;
        border: 1px solid var(--grisOscuro);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
    }

    body.dark .profile{
        color: var(--blanco);
    }

        .miniprofile-cont{
            position: fixed;
            z-index: 999;
            pointer-events: none;
            top: 55px;
            right: 16px;
            width: 230px;
            height: 262px;
            overflow: hidden;
        }
        .miniprofile{
            pointer-events: all;
            position: relative;
            padding-bottom: 20px;
            padding-top: 16px;
            width: 210px;
            height: fit-content;
            background: #FFFFFF;
            border-radius: 16px;
            z-index: 800;
            top: -300px;
            right: 0;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
            margin: auto auto;
            
            display: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            transition: top linear .5s;
        }
        body.dark .miniprofile{
            background: var(--grisOscuro);
            box-shadow: 0px 4px 8px 0px var(--negro);
        }

            .show{
                top: 0;
            }
            .miniprofile > .profile{
                margin-left: 16px;
                margin-bottom: 5px;
                background-color: white;
                color: #000000;
                border: none;
            }

            body.dark .miniprofile > .profile{
                background-color: var(--grisClaro);
                color: var(--negro);
            }

            .miniprofile > .profile:hover{
                background-color: white;
                border: none;
            }   

            body.dark .miniprofile > .profile:hover{
                background-color: var(--grisClaro);
            }

            .miniprofile > p{
                cursor: pointer;
                margin-left: 40px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
                .miniprofile > p:hover{
                    text-shadow: 0px 0px 15px var(--Primary);
                }

            .miniprofile > p:last-child{
                display: flex;
                justify-content: center;
                align-self: center;
                justify-self: flex-end;
                gap: 3px;
                margin-left: 0px;
                margin-bottom: 0px;
            }
            .miniprofile > p:last-child img{
                margin-top: 3px;
                align-self: center;
            }
            .divminprofile{
                margin: 5px 0;
                background-color: rgba(0, 0, 0, 0.25);
                width: 100%;
                height: 2px;
            }

            body.dark .divminprofile{
                background-color: var(--grisClaro);
            }

    .profile:hover{
        background: var(--Primary);
        border: 1px solid var(--Primary);
    }

    .cart a{
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cart{
        width: 32px;
        height: 32px;
        background: var(--grisOscuro);
        border-radius: 50%;
        border: 1px solid var(--grisOscuro);
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
    }

    .cart:hover{
        background: var(--Primary);
        border: 1px solid var(--Primary);
    }
    
.margin{
    margin-top: 128px;
}
.categories{
    margin: 30px 128px;
    margin-bottom: 54px;
    padding: 16px 40px;
    height: 128px;
    border-radius: 16px;
    background-color: var(--grisOscuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    max-width: 1500px;
}
    .separador{
        width: 2px;
        height: 100%;
        background-color: var(--blanco);
    }

    body.dark .separador{
        background-color: var(--negro);
    }

    .categorie-item{
        width: 112px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 15.5px;
        line-height: 22px;
        color: var(--blanco);
        overflow: hidden;
    }

    body.dark .categorie-item{
        color: var(--blanco);
    }


        .categorie-item > img{
            width: 40px;
            height: 40px;
        }
            .categorie-item:hover{
                color: #0CB093;
                cursor: pointer;
            }

.products{
    margin: 48px 128px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--negro);
    max-width: 1500px;
}

body.dark .products{
    color: var(--blanco);
}

    .product-list{
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        gap: 25px 10px;
        flex-wrap: wrap;
    }
        .product-card{
            width: 244px;
            padding: 8px 8px;
            border-radius: 16px;
            background-color: var(--blanco);
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            color: #000000;

            transition: all .2s linear;
        }

        body.dark .product-card{
            background-color: var(--grisOscuro);
            box-shadow: 0px 4px 8px 0px var(--categories);
            color: var(--blanco);
        }

        .product-card:hover{
            position: relative;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.50);
        }
        .product-card:hover img{
            width: 110%;
            object-fit: contain;
        }
                    .product-card-img{
                        width: 228px;
                        height: 240px;
                        overflow: hidden;
                        border-radius: 8px;
                    }
                    .product-card img{
                        width: 100%;
                        object-fit: cover;

                        transition: all .2s linear;
                    }
                    .product-desc{
                        margin: 8px;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        gap: 8px;
                    }
                        .product-desc h3{
                            width: 140px;
                            height: 64px;
                        }
                        .product-desc p{
                            padding-left: 8px;
                            border-left: 2px solid rgba(0, 0, 0, 0.25);
                            width: 72px;
                            height: 64px;
                            display: flex;
                            flex-direction: column;
                            gap: 3px;
                        }
                        .product-desc p span{
                            font-style: normal;
                            font-weight: 300;
                            font-size: 10px;
                            line-height: 11px;
                        }

#productHero_container{
    position: relative;
    margin-top: 80px;
    width: 100%;
    height: 256px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    background-color: var(--Primary);
    
}
    .productHero{
        display: flex;
        position: relative;
        align-items: flex-end;
        height: 256px;
        width: 504px;
        margin-bottom: 24px;
        cursor: pointer;
    }
        .productHero:hover{
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
            border-radius: 16px;
        }
        .productHero_banner{
            position: absolute;
            z-index: 0;
            box-sizing: content-box;
            border-radius: 0px 0px 16px 16px;
        }

        .productHero> div{
            display: flex;
            z-index: 1;
            padding: 8px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            border-radius: 0px 0px 16px 16px;
        }
            .productHero_logo{
                position: relative;
                bottom: 0;
                width: 112px;
                height: 112px;
            }

            .productHero> div> div{
                color: white;
                display: flex;
                padding-right: 15%;
                flex-direction: column;
                z-index: 1;
                margin: 8px;
                font-size: 20px;
            }
               

footer{
    margin-top: 48px;
    padding: 23px 55px;
    border-top: 1px solid var(--grisClaro);
    display: flex;
    justify-content: space-around;
    align-items: center;

    gap: 20px;
    flex-wrap: wrap;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--grisClaro);
}
    .redesSociales{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    .stores-container{
        display: flex;
        gap: 15px;
    }
        .appstore{
            display: flex;
            gap: 8px;
            cursor: pointer;
        }
        .appstore:hover{
            color: #0CB093;
        }
        .playstore{
            width: 125px;
            display: flex;
            gap: 8px;
            cursor: pointer;
        }
        .playstore:hover{
            color: #0CB093;
        }

@media screen and (min-width: 1700px) {
    .categories{
        margin-left: auto;
        margin-right: auto;
    }
    .products{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 414px) {

    .logo{
        display: none;
    } 

    .logo2{
        display: flex;
    }
        
    .profile{
        width: 32px;
    }

    .profile p{
        display: none;
    }

    .products{
        margin: 20px 16px;
    
    }
    
    footer{
        padding: 23px 0px;
        display: flex;
        flex-direction: column;
    }
        .copyright{
            order: -1;
        }
    
    
    .categories{
        margin: auto auto;
        margin-top: -30px;
        height: fit-content;
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
        min-width: 260px;
    }
        .separador{
            display: none;
        }
        .categorie-item{
            height: fit-content;
            flex-direction: row;
            justify-content: flex-start;
            gap: 13px;
            overflow: visible;
        }
        .categorie-item > img{
            width: 30px;
            height: 30px;
        }

    #productHero_container{
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
        min-width: 300px;

    }
        .productHero{
            height: 194px;
            width: 90%;
            min-width: 280px;
        }
        .productHero_banner{
            height: 194px;
            width: 100%;
        }
        .productHero_logo{
            bottom: -65px;
        }
        .productHero> div{
            width: 100%;
            height: 194px;
        }
        .productHero> div> div{
            display: flex;
            padding-right: 0;
            z-index: 1;
            margin: auto auto;
            margin-bottom: 30px;
            margin-left: 15px;
            font-size: 17px;
        }
        .productHero p{
            margin-bottom: -20px;
            display: none;
        }

    .products{
        margin: 100px 20px;
        min-width: 280px;

    }
        .product-list{
            margin-top: 24px;
        }
            .product-card{
                width: 100%;
                height: 150px;
                flex-direction: row;
                justify-content: flex-start;
            }
                    .product-card-img{
                        width: 138px;
                        height: 138px;
                    }
                        .product-desc{
                            flex-direction: column;
                            gap: 15px;
                        }
                            .product-desc h3{
                                padding-left: 8px;
                                width: 150px;
                                height: 64px;
                            }
                            .product-desc p{
                                padding-left: 8px;
                                border-left: none;
                                height: fit-content;
                            }
    
        .miniprofile-cont{
            height: 100vh;
            top: 0;
            border-radius: 16px 0px 0px 16px;
            right: 0;
            margin: 0;
            padding: 0;
        }
        .miniprofile{
            border-radius: 16px 0px 0px 16px;
            height: 100vh;
            width: 100%;
            top: 0;
            right: -300px;
            justify-content: flex-start;

            transition: right linear .5s;
        }
            .miniprofile > .profile{
                margin-left: 30px;
            }
            .miniprofile > .profile p{
                margin-left: 10px;
                display: flex;
            }
            .show{
                right: 0;
            }
}


@media screen and (max-width: 1240px) and (min-width: 414px){
    .categories{
        margin: auto auto;
        margin-top: -30px;
        height: fit-content;
        width: 50%;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px
    }
        .separador{
            display: none;
        }
        .categorie-item{
            height: fit-content;
            flex-direction: row;
            justify-content: flex-start;
            gap: 13px;
            overflow: visible;
        }
        .categorie-item > img{
            width: 30px;
            height: 30px;
        }
        #productHero_container{
            margin-top: 200px;
            margin-bottom: 200px;
            flex-direction: column;
            align-items: center;
            gap: 50px;
        }
            .productHero{
                height: fit-content;
                width: 400px;
            }
            .productHero_logo{
                bottom: -65px;
            }
            .productHero> div{
                width: 100%;
                height: 194px;
            }
            .productHero> div> div{
                display: flex;
                padding-right: 0;
                z-index: 1;
                margin: auto auto;
                margin-bottom: 30px;
                margin-left: 15px;
                font-size: 15px;
            }
    .products{
        margin: 3% 5%;
        align-items: center;
        justify-content: center;
    }
}

body.dark .miniprofile{
 color: var(--blanco);
}