.product_detail_container{
    margin-top: 80px;
}

    .detail_container_mobile{
        display: none;
        order: -2;
    }
    .detail_container_mobile> h3{
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
    }
    .product_links{
        display: flex;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;

        display: flex;
        align-items: center;
        color: #000000;
    }

    body.dark .product_links{
        color: var(--blanco);
    }
    
        .product_links a{
            margin: 8px;
            text-decoration: none;
            color: #000000;
        }

        body.dark .product_links a{
            color: var(--blanco);
        }

    .Product_detail{
        display: flex;
        width: 1024px;
        height: 536px;
        padding: 8px;

        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
    }

    body.dark .Product_detail{
        background: var(--grisOscuro);
    }

        .gallery{
            display: flex;
            flex-direction: column;
        }

            .img_gallery{
                width: 48px;
                height: 48px;
                border-radius: 8px;
                margin-bottom: 8px;
            }

            .img_gallery:hover{
                border: 1px solid red;
            }

        .img_detail{
            width: 90%;
            height: 520px;
            margin-left: 8px;
            margin-right: 8px;
            overflow: hidden;
            border-radius: 16px;
        }

        .img_detail>img {
            width: 100%;
        }

        .detail_container{
            width: 304px;
            height: 520px;
            border: 1px solid #CCCCCC;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 8px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        body.dark .detail_container{
            border: 1px solid var(--grisClaro);
        }

            .detail_container> h3{
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 33px;
            }
            .points_container{
                display: flex;
                height: 43px;
            }

                .points_number{
                    display: flex;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 54px;
                    height: 43px;
                    margin-right: 10px;
                }

                .points{
                    height: 43px;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 16px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                }

            .add_button{
                width: 288px;
                height: 32px;
                color: var(--blanco);
                border-style: inherit;

                background: var(--grisOscuro);
                border-radius: 16px;
                cursor: pointer;
            }  

            body.dark .add_button{
                color: var(--blanco);
                background: var(--categories);
            }
            
            .add_button:hover{
                background: var(--Primary);
            }

            .detail{
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;

                color: #000000;
            }

            body.dark .detail{
                color: var(--blanco);
            }

@media screen and (max-width: 1024px) {
    #productHero_container{
        height: 500px;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap: 120px;
        margin-top: 125px;
        margin-bottom: 125px;
    }
    .productHero{
        top: 10%;
    }
}


@media (max-width: 414px) {
    .Product_detail{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: auto;
        padding: 16px;
    }

    .detail_container_mobile{
        display: flex;
        order: -2;
        margin-bottom: 15px;
    }

    .gallery{
        flex-direction: row;
        margin-top: 10px;
    }

    .img_detail{
        order: -1;
        height: auto;
        margin: 0px auto;
        width: 100%;
    }

    .detail_container{
        width: 100%;
        height: auto;
        border: none;
        flex-direction: column;
        padding: 0;
        
    }
        .detail_container> h3{
            display: none;
        }

    
    .add_button{
        width: 100%;
        order: 10;
        margin-top: 30px;
    }
}
