<div class="stores-container">
    <div class="appstore">
        <img src="/images/appstore.svg" alt="icono de app store">
        <p>App Store</p>
    </div>
    <div class="playstore">
        <img src="/images/playstore.svg" alt="icono de play store">
        <p>Google Play</p>
    </div>
</div>