<div class="redesSociales">
    <a href="#"><img src="/images/twitter.svg" alt="icono de twitter"></a>
    <a href="#"><img src="/images/facebook.svg" alt="icono de facebook"></a>
    <a href="#"><img src="/images/instagram.svg" alt="icono de instagram"></a>
    <a href="#"><img src="/images/youtube.svg" alt="icono de youtube"></a>
</div>