<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/images/loguito.png">
    <title>Carrito</title>
</head>
<body>
    <% let totalPrice = 0 %> 
    <% cartdb.cartItems.forEach(item => { %>
        <% totalPrice += (item.price * item.cant) %>
    <% }) %>

    <header>
        <%- include('../partials/header.ejs')  %> 
    </header>

   <div class="container_main">
       
        <div class="top_container">
            <p class="volver"><a href="/"> <img src="images/flechita.svg" alt=""></a>Volver</p>
            <div class="prod_carrito">Productos en tu carrito</div>
        </div>
    
        <section class="cartitems_container">
            <%- include('../partials/cart/cartItem.ejs')  %> 
        </section>

        <section class="bottom_container">
            <span>Total de puntos: <b> <%= totalPrice %>  </b></span>
            <button id="pagar" class="btn_pagar">Ir a pagar</button>
        </section>

   </div>


    <footer>
        <%- include('../partials/footer.ejs')  %> 
    </footer>

    <!-- CARLA -->
    <div class="modal_container">
        <div class="modal_error">
            <h3>¡Ups! Lo sentimos.</h3>
            <section class="text_e">
                <p class="att_msg_e">Esta página aún no fue</p><p class="incorrect_e"><em>implementada.</em></p>
            </section>
            <div class="button_e"> 
                <button class="aceptar">Aceptar</button>
            </div> 
        </div>
    </div>
      <!-- CARLA -->
   
    <script src="/js/cartScript.js"></script>
</body>
</html>