<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <link href="/css/formularios.css" rel="stylesheet" type="text/css">
  <link href="/css/screenInfo.css" rel="stylesheet" type="text/css">
  <link href="/css/index.css" rel="stylesheet" type="text/css">
  <link rel="icon" href="/images/loguito.png">
  <title>Login</title>
</head>

<body class = "login_container">

  <header class="header">
    <img src="images/MiEcommerce.svg" alt="logo" class="logo_login">
  </header>
  

  <div class="green_container"></div>
  
  <div class="vertical_container">
    <!--cajita blanca que guarda el formulario-->
    <div class="form_container">
      <form action="/login" method="post" class="form">
          
          <h2>¡Hola!</h2>
          <p>
            <input class="email" type="text" name="email" placeholder="Tu email" autocomplete="off">
          </p>
          <p>
            <input class="password" type="password" name="password" placeholder="Tu contraseña">
          </p>
          <button class="login_button" disabled>Iniciar Sesión</button>
          <div>
            <input class="check" type="checkbox" name="recordar" value= "true"> 
            <label for="recordar">Recordar usuario</label>
          </div>
          
      </form>
    </div>
      <!--cierre de la cajita blanca que guarda el formulario-->
    <div class="register_link">
      <p>¿No tienes cuenta? <a href="register" class="registrate"> Registrate</a></p>
    </div>
      
  </div>
    
      <% errors.forEach(error => { %>
        <div class="modal_container_l">
          <div class="modal_login modal_close">
            <h3>¡Atención!</h3>
              <ul class="modal_text">
              <li> <%= error.msg %> </li>
              </ul>
            <div class="button_modal">
              <button class="close">Aceptar</button>
            </div>
          </div>
        </div>
      <% }) %>
    </ul>
    

      <% if (estaRegistrado == false) { %>
        <div class="modal_container_l">
          <div class="modal_login modal_close">
            <h3>¡Atención!</h3>
            <section class="modal_text">
              <p class="att_msg_modal">El mail o contraseña ingresados son </p>
              <p class="incorrect_modal"><em>incorrectos.</em></p>
            </section>
            <div class="button_modal">
              <button class="close">Aceptar</button>
            </div>
          </div>
        </div>
      <% } %>
    
    <footer class="form_footer">
      <%- include('../partials/footer.ejs')  %> 
    </footer>

    <script src="/js/loginScript.js"></script>
</body>

</html>