<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <link href="/css/formularios.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/screenInfo.css" type="text/css">
  <link href="/css/index.css" rel="stylesheet" type="text/css">
  <link rel="icon" href="/images/loguito.png">
  <title>Registro</title>
</head>

<body class="login_container">

  <header class="header">
    <img src="images/MiEcommerce.svg" alt="logo" class="logo_login">
  </header>

  <div class="green_container"></div>

  <div class="vertical_container">
    <!--cajita blanca que guarda el formulario-->
    <div class="form_container">
      <form action="/register" method="POST" class="form">
        <h2>¡Registrate!</h2>
        <p>
          <input id="regName" type="text" name="firstName" placeholder="Nombre" autocomplete="off">
          
        </p>
        <div class="invalid regnamev">
          <p> El nombre es requerido </p>
        </div>
        <p>
          <input id="regLName" type="text" name="lastName" placeholder="Apellido" autocomplete="off">
        </p>
        <div class="invalid reglnamev">
          <p> El apellido es requerido </p>
        </div>
        <p>
          <input id="regEmail" type="email" name="email" placeholder="Tu email" autocomplete="off">
        </p>
        <div class="invalid regemailv">
          <p> El email es requerido </p>
        </div>
        <p>
          <input id="regPass1" type="password" name="password" placeholder="Tu nueva contraseña">
        </p>
        <div class="invalid regpass1v">
          <p> La contraseña es requerida </p>
        </div>
        <p>
          <input id="regPass2" type="password" name="password-2" placeholder="Repite tu contraseña">
        </p>
        <div class="invalid regpass2v">
          <p> Las contraseñas deben coincidir </p>
        </div>

        <input type="submit" class="login_button" value="Crear Cuenta" disabled>

        <!-- <button type="submit" class="login_button">Crear Cuenta</button> -->
      </form>
    </div>
    <!--cierre de la cajita blanca que guarda el formulario-->
    <div class="register_link">
      <p>¿Ya tienes cuenta? <a href="login" class="registrate"> Inicia Sesión</a></p>
    </div>

  </div>

  <ul class="warning fail">
    <% errors.forEach(error => { %>
    <li>
      <h3><%= error.msg %> </h3>
    </li>
    <% }) %>

  </ul>
  <h3 class="warning success"><%= okMsg %> </h3>

  <footer class="register_footer">
    <%- include('../partials/footer.ejs')  %>
  </footer>

  <script src="/js/registerScript.js"></script>
  <script src="/js/productScript.js"></script>
</body>

</html>