<div class="product_detail_container">
    <div class="product_links">
        <img src="/images/Vector.svg" alt="vector">
        <a href="/">Volver al listado </a>
        <p> Alimentos</p>
    </div>

    <div class="Product_detail">
        <div class="gallery">
            <img class="img_gallery" src="/images/jackdaniels.svg" alt="jackdaniels">
            <img class="img_gallery" src="/images/jackdaniels_2.svg" alt="jackdaniels_2">
            <img class="img_gallery" src="/images/jackdaniels_3.svg" alt="jackdaniels_3">
        </div>
        <div class="img_detail">
            <img src="/images/Rectangle 21.svg" alt="jackdaniels">
        </div>
        <div class="detail_container">
            <h3>Whiskey Jack Daniels Honey 750ml</h3>
            <div class="points_container">
                <p class="points_number">19.900</p>
                <p class="points">PUNTOS</p>
            </div>
            <button class="add_button"> Agregar al carrito</button>
            <p class="detail">
                Un verdaderamente fabuloso licor de whisky Jack Daniels. Está hecho con una mezcla de ricas especias y suave, miel tersa y el resultado es delicioso sobre hielo o café.
                <br>
                Aroma de caramelo y roble carbonizado, un poco de flor de naranja, miel de manuka y vainilla.
                <br>
                Boca: grueso y cremoso, con notas de vainilla, roble tostado, miel de nuevo, un poco de albaricoque también.
                <br>
                Acabado: De buena longitud - redondeado y rico.
                <br>
                No incluye vasos, la foto es sólo ilustrativa
            </p>
        </div>
        
    </div>
</div>