<div class="productHero">   
    <img class="productHero_banner" src="images/disney_background.svg" alt="banner">
    <div>
        <img class="productHero_logo" src="images/disney_logo.svg" alt="logo">
        <div>
            <h3>50% OFF en Combo Plus</h3>
            <p>Canjeando 50.000 puntos MiEcommerce.</p>
        </div>
    </div>

</div>