
<div class="header">
    
        <%- include('./header/logo.ejs')  %> 
        <%- include('./header/search.ejs')  %> 
        <div class="user">
            <%- include('./header/cart.ejs')  %> 
            <%- include('./header/profile.ejs')  %>             
        </div>
    
</div>
<script src="/js/header.js"></script>