<div class="miniprofile">
    <%- include("./header/profile.ejs") %>
    <span class="divminprofile"></span>
    <p>Inicio</p>
    <p>Mis Compras</p>
    <p>Favoritos</p>
    <p>Historial</p>
    <span class="divminprofile"></span>
    <p id="switch"><img src="/images/config.svg" alt="icono cambiar a tema claro"> Cambiar a Tema Claro</p>
</div>