<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/styles.css"
      rel="stylesheet" type="text/css">
    <title>Login</title>
</head>
<body>
  <div class="main_container_form">
    <div class="container_form">
    <h2>¡Hola!</h2>
      <form action="" method="POST" class="form">
        <input type="name" name="user" placeholder ="Tu nombre de usuario">
        <input type="password" name="password" placeholder="Tu contraseña">
        <button>
        <input type="submit" value="Iniciar Sesión" class="btn_default">
        </button>
      </form> 
    </div>
  </div>
</body>
</html>