<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <link rel="icon" href="/images/loguito.png">
  <title>Login</title>
</head>

<body>

  <header class="header">
    <img src="images/MiEcommerce.svg" alt="logo" class="logo">
  </header>

    <div class="green_container"></div>

    <div class="vertical_container">
      <!--cajita blanca que guarda el formulario-->
      <div class="form_container">
        <form action="" method="POST" class="form">
          <h2>¡Hola!</h2>
          <p>
            <input type="name" name="user" placeholder="Tu nombre de usuario" autocomplete="none">
          </p>
          <p>
            <input type="password" name="password" placeholder="Tu contraseña">
          </p>
          <button class="login_button"> <a href="/">Iniciar Sesión</a></button>
        </form>
      </div>
      <!--cierre de la cajita blanca que guarda el formulario-->
      <div class="register_link">
        <p>¿No tienes cuenta? <a href="register" class="registrate"> Registrate</a></p>
      </div>

    </div>

    <footer>
      <%- include('../partials/footer.ejs')  %> 
  </footer>

</body>

</html>