<button class="profile">
    <img src="/images/profile_pic.svg" alt="cart">
    <p>Olivia</p>
</button>

<div class="miniprofile">
    <button class="profile">
        <img src="/images/profile_pic.svg" alt="cart">
        <p>Olivia</p>
    </button>
    <span class="divminprofile"></span>
    <p>Inicio</p>
    <p>Mis Compras</p>
    <p>Favoritos</p>
    <p>Historial</p>
    <span class="divminprofile"></span>
    <p><img src="/images/config.svg" alt="icono cambiar a tema claro"> Cambiar a Tema Claro</p>
</div>