<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/styles.css">

<button class="profile prof">
    <img src="/images/profile_pic.svg" alt="cart" class="prof">
    <p class="prof">Olivia</p>
</button>

<div class="miniprofile-cont prof">
    <div class="miniprofile prof">

        <button class="profile prof">
            <img src="/images/profile_pic.svg" alt="cart" class="prof">
            <p class="prof">Olivia</p>
        </button>

        <span class="divminprofile prof"></span>
        
        <p class="prof">Inicio</p>
        <p class="prof">Mis Compras</p>
        <p class="prof">Favoritos</p>
        <p class="prof">Historial</p>
        
        <span class="divminprofile prof"></span>
        
        <p id="switch" class="prof"><img src="/images/config.svg" alt="icono cambiar a tema claro" class="prof"> Cambiar a Tema Claro</p>
    
    </div>
</div>
