<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/styles.css">


<button class="profile">
    <img src="/images/profile_pic.svg" alt="cart">
    <p>Olivia</p>
</button>

<div class="miniprofile-cont">
    <div class="miniprofile">
        <button class="profile">
            <img src="/images/profile_pic.svg" alt="cart">
            <p>Olivia</p>
        </button>
        <span class="divminprofile"></span>
        <p>Inicio</p>
        <p>Mis Compras</p>
        <p>Favoritos</p>
        <p>Historial</p>
        <span class="divminprofile"></span>
        <p id="switch"><img src="/images/config.svg" alt="icono cambiar a tema claro"> Cambiar a Tema Claro</p>
    </div>
</div>
