<div class="product-list">
    <% puedeInteresar.forEach(product => { %>
    
        <a class="product-card" href="/products">
            <div class="product-card-img">
                <img src=<%= product.src %>  alt=<%= product.alt %>>
            </div>
            <div class="product-desc">
                <h3><%= product.nombre %></h3>
                <p><%= product.puntos %> <span>puntos</span></p>
            </div>
        </a>
    
    <% }) %>
</div>